:root {
	--secondary-font: "Raleway", sans-serif;
	--main-font: "Roboto", sans-serif;

	--text-color: #212121;
	--background-color: #ffffff;
	--text-color-secondary: #757575;
	--button-color: #2196f3;
	--background-second-color: #eeeeee;
	--logo-text: #000000;
	--adress-text: #ffffff99 60%;
	--background-third-color: #2f303a;
	--random-color: #ececec;
}

body {
	color: var(--text-color);
	font-family: var(--main-font);
	background-color: #ffffff;
	font-size: 14px;
	letter-spacing: 0.03em;
}

header {
}

.logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	text-decoration: none;
}
.web-header {
	margin-left: 215px;
	margin-top: 24px;
	color: #2196f3;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.studio-header {
	color: #000000;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navi {
	display: inline;
	margin-right: 23px;

	list-style-type: none;
}

.navi-menu {
	font-weight: 500;
	line-height: 1, 14;
	letter-spacing: 0.02em;

	color: #212121;
}

.navi-social-link {
	display: inline;
	margin-right: 50px;
	float: left;
	list-style-type: none;
	color: #757575;
	text-decoration: none;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
}

.navi-social-link:hover,
.navi-social-link:focus {
	color: #2196f3;
}

.link {
	text-decoration: none;
}
.link:focus,
.link:hover,
.link:active {
	color: #2196f3;
}

.backgrd {
	background: #2f303a;
}
.h1 {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36px;

	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: #ffffff;
}
.ordering {
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin-left: 700px;
	margin-top: 30px;
	cursor: pointer;
}
.ordering-text {
	font-family: "Roboto";

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	cursor: pointer;

	color: #ffffff;
}

.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;
}

.h3-title {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #212121;
}
.h3-text {
	line-height: 1.71;

	letter-spacing: 0.03em;

	color: #757575;
}

.team {
	background: #f5f4fa;
}
.team-square {
	width: 270px;
	top: 1635px;

	background: #ffffff;

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;
}
.team-job {
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.03em;

	color: #757575;
}

footer {
	background: #2f303a;
}

.logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	text-decoration: none;
}
.web-footer {
	margin-left: 215px;
	margin-top: 24px;
	color: #2196f3;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.studio-footer {
	color: #ffffff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.adress-place {
	color: #ffffff;
	text-decoration: none;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;

	letter-spacing: 0.03em;
}

.adress-contact {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;

	letter-spacing: 0.03em;
}

.portfolio-square {
	box-sizing: border-box;
	width: 370px;

	background: #ffffff;
	border: 1px solid #6d6d6d;
}

.p-button {
	background: #f5f4fa;
	border-radius: 4px;
	margin-right: 8px;
	cursor: pointer;
}

.p-button:hover,
.p-button:focus,
.p-button:active {
	background: #2196f3;

	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}
.p-button-text {
	font-family: "Roboto";
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;

	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;

	padding: 6px 22px 6px 22px;
}
.p-button-text:hover,
.p-button-text:focus,
.p-button-text:active {
	color: #ffffff;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-dot {
	list-style: none;
}

.footer-adress {
	font-style: normal;
}

.portfolio-name {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	/* identical to box height, or 200% */

	letter-spacing: 0.06em;

	color: #212121;
}

.portfolio-category {
	font-size: 16px;
	line-height: 1.88;
	/* identical to box height, or 188% */

	letter-spacing: 0.03em;

	color: #757575;
}
